.ui-w-40 {
    width: 40px !important;
    height: auto;
}


.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

.tab{
    border: 1PX solid #bdbdbd;
    padding: 15px;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-right: 72px;
    margin-top: 20px;
    column-gap: 32px;
    font-size: 19px;
}