.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  background-color: #171010;
  color: white;
} */

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid white !important;
}

.MuiInput-root {
  border-bottom: 1px solid white !important;
}
.MuiInput-root:focus {
  border-bottom: 1px solid white !important;
}
& label.Mui-focused {
  color: "green"
}

.app-menu {
  color: white;
  height: 100vh;
  width: 20rem;
  background-color: #292929;
  z-index: 200;

  transform: translateX(-100%);
  transition: 0.3s;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
}

.menu-open {
  transform: translateX(0%);
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.30);   
  width: 80%;
  margin: auto;
  margin-top: 73px;
  padding-bottom: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
} 

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: white !important;
}
.MuiInputBase-input{
  color: white !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  color:white !important;
}